{% load static %}

<!-- footer kısmım -->

        <div class="row mt-5" style="background-color: #f0f0f0;">
            <div class="col-12">
                <footer>
                    <div class="row justify-content-center mt-5 p-4" style="margin-left: 4rem; border-bottom: 1px solid gainsboro;">
                        <div class="col-lg-2 col-md-12 col-sm-8 col-12 mb-4">
                            <h5>e_ticaret</h5>
                            <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur,
                                             obcaecati corrupti unde ad non dolores inventore possimus omnis excepturi vel.
                            </small>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                            <div class=" w-75">
                                <img src="{% static 'img/card1.jpg' %}" class="card-img-top" alt="foto">
                                <div class="card-body">
                                  <h6 class="card-title text-center">alt kısım</h6>
                                  <small class="text-muted">05 agu 2001</small>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                            <div class="w-75">
                                <img src="{% static 'img/card2.jpg' %}" class="card-img-top" alt="foto">
                                <div class="card-body">
                                    <h6 class="card-title text-center">alt kısım</h6>
                                    <small class="text-muted" style="text-align: center;">05 agu 2001</small>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                            <div class="w-75">
                                <img src="{% static 'img/card3.jpg' %}" class="card-img-top" alt="foto">
                                <div class="card-body">
                                    <h6 class="card-title text-center">alt kısım</h6>
                                    <small class="text-muted" style="text-align: center;">05 agu 2001</small>
                                </div>
                              </div>
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                            <div class="w-75">
                                <img src="{% static 'img/card4.jpg' %}" class="card-img-top" alt="foto">
                                <div class="card-body">
                                    <h6 class="card-title text-center">alt kısım</h6>
                                    <small class="text-muted" style="text-align: center;">05 agu 2001</small>
                                </div>
                              </div>
                        </div>   
                    </div>
                </footer>

                <div class="row justify-content-center mt-4">
                    <div class="col-lg-2 col-md-4 col-sm-6 col-3 p-3">
                            <h6 class="text-center">Servis</h6>
                        <ul class="nav flex-column text-center">
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Online yardım</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">İletişim</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Kademeler</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Pozisyon</a></small>
                            </li>
                            <li class="nav-item">
                               <small> <a class="nav-link side-link" href="#">FAQ,S</a></small>
                              </li>
                          </ul>
                    </div>
                    
                    <div class="col-lg-2 col-md-4 col-sm-6 col-3 p-3">
                        <h6 class="text-center">Alış Veriş</h6>
                        <ul class="nav flex-column text-center">
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">T_SHİRT</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Erkek</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Bagyaan</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Resim Cardı</a></small>
                            </li>
                            <li class="nav-item">
                               <small> <a class="nav-link side-link" href="#">elbise</a></small>
                              </li>
                          </ul>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-6 col-3 p-3">
                        <h6 class="text-center">Poliss</h6>
                        <ul class="nav flex-column text-center">
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Poliss</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Poliss</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Poliss</a></small>
                            </li>
                            <li class="nav-item">
                             <small> <a class="nav-link side-link" href="#">Poliss</a></small>
                            </li>
                            <li class="nav-item">
                               <small> <a class="nav-link side-link" href="#">Poliss</a></small>
                              </li>
                          </ul>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-6 col-3 p-3">
                        <h6 class="text-center">Alış Veriş</h6>
                        <ul class="nav flex-column text-center">
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Kıyafet</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Kıyafet</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Kıyafet</a></small>
                            </li>
                            <li class="nav-item">
                              <small><a class="nav-link side-link" href="#">Kıyafet</a></small>
                            </li>
                            <li class="nav-item">
                                <small><a class="nav-link side-link" href="#">Kıyafet</a></small>
                              </li>
                          </ul>
                    </div>

                    <div class="col-8 p-3">
                        <h6 class=" mb-4 text-center">Alış Veriş</h6>
                        <form class="d-flex mb-4">
                            <input class="form-control me-2" type="search" placeholder="e posta adresiniz">
                            <button class="btn btn-warning " type="submit"><i class="fas fa-arrow-circle-right"></i></button>
                        </form>
                        <small class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, sed.</small>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-12 p-1" style="background-color: gainsboro;">
                        <small class="text-muted" style="margin-left: 6rem;">Altkısım @ 2022 e ticaret her şey var aldın aldın</small>
                        
                    </div>
                </div>
            </div>
        </div>