{% extends "index.html" %}
{% load static %}

{% block title %}
    <title>Blog</title>
{% endblock title %} 

{% block content %}

      {% include "includes/_navbar.html" %}   
            
    <!-- container bölümüm -->
        {% for J in ucuz %}

            <div class="card mb-3 w-75 text-center m-auto p-1">
                <div class="">
                    <img src="{{J.resim.url}}" height="500px" class="card-img-top " alt="Resim"> 
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{J.isim}}</h5>
                    <p class="card-text">{{J.aciklama}}</p>
                    <p class="card-text"><small class="text-muted"> %{{J.indirim}} İNDİRİM </small></p>
                </div>
            </div>

        {% endfor %}
     
    {% include "includes/_footer.html" %}
{% endblock content %}